/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

      
.navbar-nav {
    flex-direction: row;
}
.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}
header {
    background-color: #4d8bff;
    .nav-item {
        .nav-link {
            font-family: 'Open Sans', sans-serif;
            color: #fff !important;
        }
    }
    
}

.jumbotron {
    height: 470px;
    background-color: #4d8bff;
    border-radius:0px;
    color:#fff;
    padding-top: 45px;
    padding-bottom: 15px;
    position: relative;
    .img {
        text-align: center;
        background-image: url("/assets/images/imgbanner.png");
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: top;
    
    }
    h1 {
        font-size: 45px;
        margin: 30px 0 30px 0;
        line-height: 48px;

    }
    p {
        line-height: 30px;
    }
    .jumbocurve {
        position: absolute;
        bottom: -294px;
        background-image: url("/assets/images/bannercurves.png");
        height: 294px;
        width: 100%;
        background-size: cover;
        left: 0px;
        background-repeat: no-repeat;
    }

    .jumb-btn {
        background-color: #fe3;
        color: #335578;
        padding: 18px 35px;
        font-size: 18px;
        display: block;
        border-radius:3px;
        width: 180px;
        margin-top: 30px;
    }
}