<% include templates/header %>
    <section class="jumbotron">
        <div class="container">
            <div class="row justify-content-left">
                <div class="col-lg-6 col-md-6 col-12">
                    <h2 class="opensans-reg">
                        It is a long established fact that a reader will be distracted
                    </h2>
                    <h1 class="opensans-bold">
                        Shape Your Ideas. <br>
                        Prove Your Concept.
                    </h1>
                    <p class="opensans-reg">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in pretium ex, sit amet consequat arcu. 
                            Aliquam vitae est et mauris fermentum sodales id a ante. Sed vitae accumsan libero, eu luctus nibh.
                    </p>
                    <a href="" class="jumb-btn opensans-bold button">Our Works</a>
                </div>
                <div class="col-lg-6 col-md-6 col-12 img">
                  
                </div>
            </div>
        </div>
        <!-- <div class="jumbocurve"> </div> -->
    </section>
    <section class="service">
        <div class="container">
            <h2 class="section-title opensans-bold centered" style="color:#335578">
                Our speciality
            </h2>
            <span class="border-yellow"></span>
            <h3 class="section-subtitle opensans-reg centered">
                Choose our speciality that you really need!
            </h3>
            <div class="row service-row">
                
                <div class="col-lg-4 ">
                    <div class="service-thumb">
                        <div class="hovereffect">
                            <img class="img-fluid centered" src="/assets/images/laptop2.png" />
                            <div class="overlay">
                                <p class="opensans-reg">
                                        We are enthusiastic in following the latest technological developments, especially cloud technology, so we conduct regular evaluations for web application development in terms of technical features, support, and community.
                                </p>
                            </div>
                            <h3 class="opensans-bold centered navy">
                                Web App Development
                            </h3>
                            <!-- <p class="opensans-reg">
                                We are enthusiastic in following the latest technological developments, especially cloud technology, so we conduct regular evaluations for web application development in terms of technical features, support, and community.
                            </p> -->
                        </div>
                    </div>
                </div>
               
                <div class="col-lg-4 ">
                    
                    <div class="service-thumb">
                        <div class="hovereffect">
                            <img class="img-fluid" src="/assets/images/computer2.png" />
                            <div class="overlay">
                                <p class="opensans-reg">
                                        After years of developing corporate and e-commerce websites, we have gained an understanding of why customers seek information and buy online to succeed the website.
                                </p>
                            </div>
                            <h3 class="opensans-bold centered navy">
                                Corporate Web & E-commerce
                            </h3>
                            
                        </div>
                    </div>
                </div>
               
                <div class="col-lg-4 ">
                    <div class="service-thumb">
                        <div class="hovereffect">
                            <img class="img-fluid" src="/assets/images/tablet2.png" />
                            <div class="overlay">
                                <p class="opensans-reg">
                                        Mobile apps are always synonymous with innovative, short, and fun interactions. We offer mobile applications and websites as a growing solution to meet the needs of today's customers.
                                </p>
                            </div>
                            <h3 class="opensans-bold centered navy">
                                Mobile App Development 
                            </h3>
                       
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </section>

    <section class="benefits">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid" src="/assets/images/features-img.png">
                </div>
                <div class="col-lg-6">
                    <h2 class="opensans-bold navy">
                        What makes business owner choose us ?
                    </h2>
                    <span class="border-yellow no-center"></span>
                    <ul class="opensans-reg  navy">
                        <li>Our house was full creative & helpfull developers.</li>
                        <li>We love to developing in bleeding edge new technology!</li>
                        <li>Our expertise provides us with experience in handling & measuring every decision for projects through deep analysis, data and research.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="clients">
        <div class="container">
            <h2 class="centered navy opensans-bold">Some of what we do</h2>
            <span class="border-yellow"></span>
            <ul class="grid effect-2" id="grid">
                <li><a href="/"><img src="/clients/bridestory-small.png"></a></li>
                <li><a href="/"><img src="/clients/pintudakwah.png"></a></li>
                <li><a href="/"><img src="/clients/indocart.png"></a></li>
                <li><a href="/"><img src="/clients/himalayainsurance.png"></a></li>
                <li><a href="/"><img src="/clients/informasea.png"></a></li>
                <li><a href="/"><img src="/clients/besha.png"></a></li>
                <li><a href="/"><img src="/clients/sparepartBesha.png"></a></li>
                <li><a href="/"><img src="/clients/pavilionSudirman.png"></a></li>
                <li><a href="/"><img src="/clients/glenz.png"></a></li>
            </ul>
            
        </div>

    </section>

    <section class="contact-home">
        <div class="container">
            <div class="row justify-content-center"> 
                <div class="col-lg-10">
                    <div class="row"> 
                        <div class="col-lg-6">
                            <form action="" class="form-style-8">

                                <input type="text" name="field1" placeholder="Full Name" />
                                <input type="email" name="field2" placeholder="Email" />
                                <input type="url" name="field3" placeholder="Website" />
                                <textarea placeholder="Message" onkeyup="adjust_textarea(this)"></textarea>
                                <input type="button" value="Send Message" />
        
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <img src="/assets/images/email.png" class="img-fluid" alt="contactUs">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
<% include templates/footer %>